<h1>New invoice</h1>

<%= error_messages_for :invoice %>

<% form_for @invoice, :url => invoice_path(@client, @invoice) do |f| %>

	<%= render :partial => 'form', :object => f %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Cancel', line_items_path(@client) %>
