body {
	margin: 0;
	padding: 0;
	background: #000000 url(../images/img01.jpg) repeat-x top center;
	font-size: 13px;
	color: #8C8C8C;
}

body, th, td, input, textarea, select, option {
	text-transform: lowercase;
	font-family: "Trebuchet MS", "Times New Roman", Arial, Times, serif;
}

h1, h2, h3 {
	font-weight: normal;
	color: #F8FBEC;
}

h1 {
	letter-spacing: -2px;
	font-size: 3em;
}

h2 {
	letter-spacing: -1px;
	font-size: 2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	line-height: 200%;
}

blockquote {
	padding-left: 1em;
}

blockquote p, blockquote ul, blockquote ol {
	line-height: normal;
	font-style: italic;
}

a {
	color: #9BDB18;
}

a:hover {
	text-decoration: none;
	color: #E6B715;
}

#wrapper {
}
/* Header */

#header {
	width: 760px;
	height: 200px;
	margin: 0 auto;
	background: url(../images/img02.jpg) no-repeat right top;
}

#header h1, #header p {
	margin: 0;
	color: #9CBC1E;
}

#header h1 {
	padding: 50px 0 0 70px;
}

#header h1 a {
	color: #9CBC1E;
	text-decoration: none;  
}

#header p {
	padding-left: 73px;
	margin-top: -10px;
}
#header a {
	color: #E6B715;
}

#header h2 {
	margin: 0px 0px 0px 100px;
	color: #6C8C00;
}

#login {
  float: right;
  margin: 50px 0 0 0px;
  text-align: right;
}

/* Page */

#page {
	width: 760px;
	margin: 0 auto;
}

/* Content */

#content {
	float: right;
	width: 700px;
	margin: 0;
}

.post {
	padding: 0 0 20px 0;
}

.title {
	margin: 0;
	padding-bottom: 5px;
	border-bottom: 2px solid #B7D24D;
}

.byline {
	margin: 0;
	color: #646464;
}

.meta {
	text-align: left;
	color: #646464;
	padding: 10px 10px;
	height: 48px;
	background: url(../images/img06.gif) no-repeat left top;
}

.meta .more {
	padding-left: 20px;
}

.meta .comments {
	padding-left: 20px;
}

.meta a {
	color: #003300;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 230px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding: 15px 15px;
}

#sidebar li li {
	border-bottom: 1px dotted #000000;
	padding-left: 15px;
}

#sidebar h2 {
	margin: 0;
	padding: 10px 0 0 40px;
	height: 40px;
	background: url(../images/img04.gif) no-repeat left 60%;
}

#sidebar a {
	text-decoration: none;
}

#sidebar a:hover {
}

/* Footer */

#footer {
	clear: both;
	width: 760px;
	height: 40px;
	margin: 0 auto;
	padding: 20px 0 0 0;
	background: url(../images/img05.gif) no-repeat left top;
	text-align: center;
	font-size: smaller;
	color: #52640A;
}

#footer a {
	color: #003300;
}
