<% content_for :title do %>
  My Account
<% end %>

<%= error_messages_for :user %>

<% form_for(@user) do |f| %>
  <p>
    <b>Name</b><br />
    <%= f.text_field :login %>
  </p>

  <p>
    <b>Default Rate/Hour</b><br />
    $<%= f.text_field :rate %>
  </p>
  
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
