%tr{ :id => "line_item_#{line_item.id}_tr" }
  = render :partial => 'line_items/'+line_item.class.to_s.underscore, :object => line_item
  %td= link_to 'Edit', edit_line_item_path(line_item)
  %td= button_to 'Destroy', line_item_path(line_item), :confirm => 'Are you sure?', :method => :delete, :class => 'delete'
