- @todo = todo
%tr[todo]
  %td= todo.user.name
  %td
    = in_place_text_area :todo, :notes, :url => url_for({ :action => "set_todo_notes", :id => todo.id, :client_id => todo.client.id })
  %td= link_to_remote 'Destroy', :url => todo_path(@client, todo), :confirm => 'Are you sure?', :method => :delete
