- content_for :title do
  = @client.name
  &raquo; Billing Details

:plain
  <!--<%= link_to 'Import from CSV', import_line_items_path %>-->
  <!--
  <table border="1" cellpadding="4" cellspacing="0">
    <tr><th colspan="2">TODOS</th></tr>
    <tr id="new_todos">
      <td>
        <%= link_to_remote 'New Todo', :url => todos_path(@client), :with => "'todo[notes]='+escape($('notes_new').value)", :success => "$('notes_new').clear()" %>
      </td>
      <td><%= text_field_tag 'notes_new' %></td>
    </tr>
    <%= render :partial => 'todo', :collection => @client.todos %>
  </table>
  <br />
  -->

%table{ :border => "1", :cellpadding => "4", :cellspacing => "0" }
  %tr
    %td.select
      select<br>
      %a{ :href => "javascript:;", :onclick => "select_all(true)" } all
      %a{ :href => "javascript:;", :onclick => "select_all(false)" } none
    %th Date
    %th User
    %th Start
    %th Finish
    %th Hours
    %th Rate
    %th Total
    %th Notes
  
  = render :partial => 'invoice', :collection => @invoices
