
<table width="100%" cellpadding="0" cellspacing="0">
	<tr>
		<td><h1><%= @client.name %> &raquo; Billing Details</h1></td>
		<td align="right">
			<%= link_to 'Import from CSV', import_client_line_items_path %>
		</td>
	</tr>
</table>

<% form_tag new_client_invoice_path(@client), :method => :get, :id => 'new_invoice' do %>
	<table border="1" cellpadding="4" cellspacing="0">
		<tr>
			<td style="padding: 2px; font-size: 11px; text-align: center">
				<a href="javascript:;" onclick="select_all(true)">all</a><br>
				<a href="javascript:;" onclick="select_all(false)">none</a><br>
			</td>
		  <th>Date</th>
		  <th>User</th>
		  <th>Start</th>
		  <th>Finish</th>
		  <th>Hours</th>
		  <th>Rate</th>
		  <th>Total</th>
		  <th>Notes</th>
		</tr>

  	<%= render :partial => 'invoice', :collection => @invoices %>

	</table>
	
	<% javascript_tag do %>
		function select_all(flag) {
			$$('input[type=checkbox]').each(function(checkbox) {
				checkbox.checked = flag
			})
		}
	<% end %>
<% end %>
